@page
@using Acme.BookStore.Authors
@using Acme.BookStore.Localization
@using Microsoft.Extensions.Localization
@using Acme.BookStore.Web.Pages.Authors
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model CreateModalModel
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}
<form method="post" asp-page="/Authors/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewAuthor"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Author.Name" />
            <abp-input asp-for="Author.DoB" onchange='checkDate()' value="dd/mm/yyyy" required />
            <span class="text-danger field-validation-error" data-valmsg-replace="true">
                <span id="errorDate" style="color:red; margin-top:-10px"></span>
            </span>
            <abp-input asp-for="Author.ShortBio" onkeyup="change(this);" />
            <p class=" field-validation-error" data-valmsg-replace="true">
                @L["You've typed"] <span id="char_cnt">0</span> @L["character(s)"].
                @L["You are allowed"] <span id="chars_left">255</span> @L["character(s)"].
            </p>
        </abp-modal-body>
        @*<abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)" id="button"></abp-modal-footer>*@
        <abp-modal-footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >@L["Cancel"]</button>
            <button id="save" data-busy-text="Đang lưu..." class="btn btn-primary bkgrnd-cyan save-details" type="submit" name="save-details">@L["Save"]</button>
        </abp-modal-footer>
    </abp-modal>
</form>
