@page
@using Acme.BookStore.Localization
@using Microsoft.Extensions.Localization
@using Acme.BookStore.Web.Pages.Authors
@model DetailModalModel
@inject IStringLocalizer<BookStoreResource> L
@section scripts{

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script>
        $(function () {
            var converter = new showdown.Converter();
            var text = $("#short").val();
            document.getElementById('test').innerHTML = converter.makeHtml(text);
        })
    </script>
}

<form method="post" asp-page="/Authors/DetailModal">
    <abp-card size="ExtraLarge">
        <abp-card-header>
            <abp-row>
                <abp-column>@L["DetailAuthor"]</abp-column>

            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <a href="/Authors/Index" class="btn btn-primary">@L["Back"].Value</a>
            <abp-input asp-for="Id" />
            <div class="mb-3">
                <label>@L["Name"]</label>
                <input asp-for="Author.Name" required readonly class="form-control" />
            </div>
            <div class="mb-3">
                <label>@L["DoB"]</label>
                <input asp-for="Author.DoB" onchange='checkDate()' id="from-datepicker" required readonly class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">@L["ShortBio"]</label>
                <textarea asp-for="Author.ShortBio" id="short" rows="3" hidden></textarea>
                <div id="test">

                </div>
            </div>
        </abp-card-body>

    </abp-card>
</form>